/*General*/
h3 { 
  margin: 0%;
}

h4 { 
  margin: 0%;
}
body{
  font-family: monospace;
}

footer {
  bottom: 0 
}

img {
  height: 100%;
  width: 100%; 
  object-fit: cover;
  margin: auto;
}

ul {
  display: inline;
  list-style-type: none;
}

h2 {
  text-align: justify;
}

.underline{
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

a{
  color:#000000;
}

a:link :visited {
  color: black
}

a:hover{
  color:gray
}

.projects-side-text {
  width: 5%;
  top: 50%;
  place-items: center;
}

/*Images and About Me section at header*/
.header-box {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img-container {
  width: 95px;
  height: 83px;
  margin: 0;
  float: right;
  position: relative;
  overflow: hidden;
}

.image-box {
  border: 0px solid black;
  padding: 0 px; 
  margin: 1; 
  position: absolute;
  width: 40%;
  top: 12%;
  overflow: hidden;
}

/* Background information "card" w/ education & job experience*/
.background-information-box-float-right{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 127px;
  width: 55%;
  float: right;
  border: 0px solid black;
  padding: 0 px; 
  margin: 1px; 
  overflow: auto;
  top: 12;
}

.education-placecard-display{
  width: 50%;
  display: inline-block;
}

.work-placecard-display{
  width: 90%;
  display: inline-block;
}

/*Project Columns*/
.rows { 
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 33.33%);
  grid-gap: 5px;
  box-sizing: border-box;
  height: 400;
  width: 95%;
  padding: 10px;
  justify-content: space-between;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  overflow: auto;
  border: 0px solid gray;
  padding: 0 px; 
  margin: 1;
  float: right;
  position: relative;
  grid-template-areas: "inner-div";
  place-items: center;
}



.vertical-center{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.column4 {
  display: inline-block;
  grid-auto-flow: column;
  gap: 10px;
  border: 0.5px solid gray;
  height: 400px;
  vertical-align: center;
  position: relative;
  background-color: azure;
}

.column-image{ 
  height: 100px;
  width: 100px;
  grid-area: "inner-div";

}

.column-image-box {
  height: 101;
  width: 152;
  position: relative;
}

.column-text{

}

/*Why I chose to join a bootcamp placecard at footer of page*/

.placecard-footer-bottom {
  height: 100px;
  width: 50%;
  border: 0.5px solid black;
  padding: 1 px; 
  overflow: auto;
  position: relative;
}
